.border{
    border-style:solid;
    border-width:2px;
    border-color:black;
    margin-top:40px;
    margin-left:40px;
    margin-right:380px;
    padding:30px;
}

.border2{
    border-style:solid;
    border-width:2px;
    border-color:black;
    width:300px;
    height:350px;
    margin-right:40px;
    float: right;   
}

h1{
    text-align: center;
}

img{
    margin: 0 auto;
    width:220px;
    display: flex;
    align-items: center;
    text-align:center;
    vertical-align:middle;
}


